.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.inputNickname,
.inputPassword {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
}

.button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.errorMessage {
  color: red;
  margin-bottom: 15px;
  font-weight: bold;
}
